<h1>Calculate the square of a number</h1>

<form action="/square/results" method="get">
  <label for="users_number">Enter a number:</label>
  <input type="text" id="users_number" name="users_number">
  <button type="submit">Calculate the square</button>
</form>
