<!DOCTYPE html>
<html>
  <head>
    <title>Random Number Results</title>
  </head>
  <body>
    <h1>Random Number Results</h1>
    <p>Random Number: <%= @random_number %></p>
    <a href="/random/new">Pick another random number</a>
  </body>
</html>
