<!DOCTYPE html>
<html>
  <head>
    <title>Target: Omnicalc-1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Random Number Generator</h1>
    <form action="/random/new" method="post">
      <label for="min">Minimum:</label>
      <input type="text" id="min" name="min" placeholder="Enter minimum"><br><br>
      
      <label for="max">Maximum:</label>
      <input type="text" id="max" name="max" placeholder="Enter maximum"><br><br>

      <button type="submit">Pick random number</button>
    </form>
  </body>
</html>
