<!DOCTYPE html>
<html>
  <head>
    <title>Target: Omnicalc-1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Square Root Calculator</h1>
    <form action="/square_root/new" method="post">
      <label for="user_number">Enter a number:</label>
      <input type="text" id="user_number" name="user_number" placeholder="Enter a number">
      <button type="submit">Calculate square root</button>
    </form>
  </body>
</html>
