<!DOCTYPE html>
<html>
  <head>
    <title>Square Root Results</title>
  </head>
  <body>
    <h1>Square Root Results</h1>
    <p>Number: <%= @number %></p>
    <p>Square Root: <%= @square_root %></p>
    <a href="/square_root/new">Calculate another square root</a>
  </body>
</html>
